.toolbar__title {
  width: 100%;
  color: var(--theme-d4) !important;
  padding-bottom: 16px;

  & a {
    color: var(--theme-d4) !important;
    margin-right: 16px;
  }

  & h1 {
    font-size: 12pt;
    display: inline;
    font-weight: 400;
  }
}

@media only screen and (min-width: 640px) {
  .toolbar__title {
    padding-bottom: 0;
  }
}
